@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    /* função para deixar a fonte responsiva, onde 25px é o tamanho minimo e 5vw 5% da tela em casos de que a tela tenha que ter mais de 25px de font-size*/
    font-size: max(10px, 1vw); 
    scroll-behavior: smooth;

}


header{
    background-image: url(../Img/618bf878-e284-48b7-a2d1-156d4b408c9e.png);
    background-size: cover;
    height: 95vh;
    color: white;




    a {
        font-weight: bold;
        width: 100%;
        top: 0; 
        color: white;
        display: flex;
        justify-content: flex-end;
        padding-right: 9rem;
        text-decoration: none;
        
    }

    div {
        display: flex;
        justify-content: center;
        padding-top: 18rem;
        align-items: center;
        flex-direction: column;
        
    h1 {
            padding: 1rem;
        }
        
    input {
            padding: 0.5rem;
            border-radius: 0.3rem;
        }   
    }
}

main {

    .Icones {
        display: flex;
        align-items: center;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 5rem;
        padding-bottom: 6rem;

    article{

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
            

        img{
            height: 11rem;
            padding-bottom: 1rem;           
        }

        h2 {
            padding-bottom: 1rem;
        }

        p{
            text-align: center;
        }

        a{
            padding-top: 1rem;
            text-decoration: none;
         }
        }
    }

    .Temperos {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        padding-bottom: 10rem;
        padding-top: 5rem;
        
    }

    .Imagem-1 {
        padding-right: 4rem;
    }

    .Texto-Temperos {
        padding-left: 5rem ;
        padding-right: 5rem;
        padding-bottom: 20rem;
        font-weight: normal;
        
        p {
            text-align: left;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        button {
            background-color: #EB1700;
            color: white;
            font-weight: bold;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ca1501;
        }
    }

    .Descontos {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        height: 100vh;
        padding-top: 10rem;
        padding-bottom: 10rem;

        
    }
    
    .Imagem-2 {
        padding-left: 4rem;
        }

    .Texto-Descontos {
        padding-left: 2rem ;
        padding-right: 5rem;
        padding-bottom: 20rem;
        font-weight: normal;

        p {
            text-align: left;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        button {
            background-color: #EB1700;
            color: white;
            font-weight: bold;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ca1501;
        }
        
    }
}

footer {
    background-color: #222222;
    min-height: 60vh;
    color: #a7a7a7;
    


    .lista{
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
       
    
        
        ul {
            list-style-type: none;
            
        }

        li{
            padding-top: 0.5rem;
        }

       

        input {
            margin-top: 2rem;
            padding: 0.2rem;
            border-radius: 0.3rem;
            padding-right: 6rem;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        button{
            background-color: #3f3fff;
            color: white;
            padding: 0.4rem;
            border-radius: 0.3rem;
            
        }

       
    }
        hr {
            border: none;
            height: 1px;
            background-color: #a7a7a7;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2.5rem;
        }
    
   
}

/* Responsividade */

/* Desktops and Laptops */
@media (max-width: 1440px){

}

/* Tablet */
@media (max-width: 1024px){
   
    img {
        width: 60vw;
        height: auto;
    }
    .Icones{
        display: flex;
        flex-direction: column;
    }

    .Texto-Descontos {
        padding-top: 8rem;
    }

    .Texto-Temperos {
        padding-top: 8rem;
    }
    
    
}

/* Phones */
@media (max-width: 600px){
    

    main{

        .Descontos {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            

            .Texto-Descontos {
                padding-bottom: 0;
            }

            .Imagem-2{
                padding-left: 110px;
                width: 100vh;
            }
        }
        .Temperos {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;

            .Texto-Temperos{
                padding-bottom: 0;
            }
            
            
        }
        .Icones{
            display: flex;
            justify-content: center;
        }
    }
}